<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft863.dao.LoginDao">
	<insert id="saveUser">
		insert into t_user(id ,tel , password ,realName , bankType ,bankNo , atype , pid , rhour , createTime) values(
			#{userId},#{tel} ,#{password} ,#{realName} ,#{bankType} ,#{bankNo}, 0 , #{pid} , DATE_FORMAT(now(),'%H') , now()
		)
		<selectKey keyProperty="userId" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
</mapper>